:root {
  --border-radius: 30px;
  --blau_fosc: #2f27ce;
  --blau_gris: #dedcff;
  --blau_accent: #902fcc;
  --blanc: #fbfbfe;
  --negre: #050315;
  --fons_header: rgba(255, 155, 4, 0.856);

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/*header - encapçalament*/

.item1 {
  grid-area: A;
  color: var(--blanc);
  position: sticky;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 2);
  background-color: var(--fons_header);
  border-radius: var(--border-radius);
  z-index:2;
  border: 5px dotted var(--blanc);
}

/*part central amb les cartes*/

.item2 .item3 .item4 .item5 .item6 .item7 .item8 .item9 .item10 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.item2 {
  grid-area:B;
}
.item3 {
  grid-area:C;
}
.item4 {
  grid-area:D;
}
.item5 {
  grid-area:E;
}
.item6 {
  grid-area:F;
}
.item7 {
  grid-area:G;
}
.item8 {
  grid-area:H;
}
.item9 {
  grid-area:I;
}
.item10 {
  grid-area:J;
}

/*footer*/

.item11 {
  grid-area: K;
  color: var(--negre);
}

/*Definició de la graella de tot el body*/

.grid-container-layout {
  display: grid;
  grid-template-areas:
    "A A A A A A" 
    "B B C C D D" 
    "E E F F G G" 
    "H H I I J J"
    "K K K K K K"; 
  gap: 50px;
  padding: 10px;
}

/* Format de la graella*/

.grid-container-layout > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

/* Format de les cartes*/

.card {
  position: relative; /* Assegura que .card_back es col·locarà respecte a .card */
  width: 400px;
  height: 400px;
  transition: transform 1s ease-in-out;
}

.card_front {
  position: relative; /* Assegura que .card_back es col·locarà respecte a .card */
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: var(--border-radius);
  background-color: var(--blau_gris);
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  z-index: 2; /* Assegura que .card_front apareixi per sobre de .card_back */
}

.card_back {
  position: absolute; /* Assegura que .card_back es col·locarà respecte al cos del document */
  width: 400px;
  height: 400px;
  border-radius: var(--border-radius);
  background-color: var(--blau_gris);
  box-shadow: -5px 5px 10px rgba(0,0,0,0.5);
  display: flex;
  z-index: 1; /* Assegura que .card_back apareixi per sota de .card_front */
  display: none; /* Asegura que .card_back estigui ocult a inicialment */
}

.card_back img {
  position: absolute; /* Fa que la imatge es pugui posicionar en relació amb l'element pare */
  top: -15%; /* Mou la imatge a la meitat de l'altura de l'element pare */
  left: -15%;
  transform: translate(-50%, -50%); /* Centra la imatge completament */
  transform: scale(0.7);
}

.card:hover {
  transform: rotateY(180deg);
}

.card:hover .card_front {
  display: none; /* Fes que .card_front desaparegui quan es passi el ratolí sobre .card */
}

.card:hover .card_back {
  display: block; /* Fes que .card_back aparegui quan es passi el ratolí sobre .card */
}
  

